<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.wiser">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_wiser_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTema"
        android:name=".WiserApplication">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".services.CarregarConversasService" />

        <!-- Activity do Splash Screen -->
        <!-- Activity Main do App -->
        <activity
            android:name=".features.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTema.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity para Logar com o Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Activity da Tela Configurações do App -->
        <activity
            android:name=".features.configuracoes.ConfiguracoesActivity"
            android:label="@string/app_configuracoes_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Visualizar Perfil Completo -->
        <activity android:name=".views.perfilcompleto.PerfilCompletoActivity"
            android:label="@string/app_perfil_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela Login do App -->
        <activity
            android:name=".features.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTema.NoActionBar" />

        <!-- Activity da Tela Principal do App -->
        <activity
            android:name=".features.principal.PrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTema"/>

        <!-- Activity da Tela Sobre do App -->
        <activity
            android:name=".views.sobre.SobreActivity"
            android:label="@string/app_sobre_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela Encontrar Usuarios do App -->
        <activity
            android:name=".views.procurarusuarios.ProcurarUsuariosActivity"
            android:label="@string/app_pesquisa_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Conversa do Chat  -->
        <activity
            android:name=".features.mensagem.MensagemActivity"
            android:label="@string/chat_resultados_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Resultados do Chat  -->
        <activity
            android:name=".views.usuariosencontrados.UsuariosEncontradosActivity"
            android:label="@string/chat_resultados_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Discussões do Forum -->
        <activity
            android:name=".views.discussao.DiscussaoActivity"
            android:label="@string/forum_discussao_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Discussões do Usuário do Forum -->
        <activity
            android:name=".views.minhasdiscussoes.MinhasDiscussoesActivity"
            android:label="@string/forum_minhasdiscussoes_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Nova Discussão do Forum -->
        <activity
            android:name=".views.novadiscussao.NovaDiscussaoActivity"
            android:label="@string/forum_novadiscussao_title"
            android:screenOrientation="portrait" />

        <!-- Activity da Tela de Pesquisa do Forum -->
        <activity
            android:name=".views.procurardiscussao.ProcurarDiscussaoActivity"
            android:label="@string/forum_pesquisa_title"
            android:screenOrientation="portrait" />

    </application>

</manifest>